
body{
    margin-top: 2%;
    margin-left: 13%;
    width: 1000px;
    height: 600px;
    background: #eceff1;
    
}

.titulo{
    
    text-align: center;
    text-shadow: 5px, 5px, #000;
    margin-top: 2%;
    width: 100%;
    height: 50px;
    background-color: #90caf9;
    align-items: center;
}
